.cardContainer {
  border: 0.15rem solid hsla(0, 0%, 75%, 1);
  border-radius: 8px;
  padding: 0.4rem 0.6rem;
  background-color: #f9f9f9;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  width: 18rem;
  height: auto;
  cursor: pointer;
}

.container h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #444444;
  text-align: left;
}

.description {
  margin: 0;
  font-size: 0.8rem;
  color: #555555;
  text-align: left;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

.dates {
  display: flex;
  font-size: 0.8rem;
  gap: 0.3rem;
  align-items: center;
  width: auto;
}

.dates p {
  color: #666666;
  font-weight: 500;
  margin-top: 0.1rem;
}

.dates svg {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  stroke: #666666;
}

.cardContainer:hover {
  filter: brightness(1.05);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.iconLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.iconLabel p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #666666;
  text-transform: uppercase;
  margin-top: 0.1rem;
}

.iconLabel svg {
  width: 1.2rem;
  height: 1.2rem;
  stroke: #666666;
}