.statusContainer {
  background-color: #dddddd;
  height: 1.3rem;
  width: 100%;
  border-radius: 0.5rem;
  align-content: center;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid #bbbbbb;
  cursor: pointer;
  padding: 0;
}

.statusContainer p {
  font-size: 0.7rem;
  font-weight: 600;
  color: #999999;
  text-align: center;
}