.statusContainer {
  background-color: #dddddd;
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  align-content: center;
  cursor: pointer;
}

.statusContainer:hover {
  filter: brightness(1.2);
}

.statusContainer:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}

.statusContainer p {
  font-weight: 700;
  color: #999999;
  text-align: center;
}