.cardContainer {
  border: 0.15rem solid hsla(0, 0%, 75%, 1);
  border-radius: 8px;
  padding: 0.4rem 0.6rem;
  background-color: #f9f9f9;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  cursor: pointer;
}

.title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
}

.description {
  margin: 0;
  font-size: 0.8rem;
  color: #666;
  text-align: left;
  line-height: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 0.5rem;
}

.dates {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  width: auto;

}

.dates p {
  color: #666666;
  font-size: 0.8rem;
  font-weight: 500;
}

.dates svg {
  width: 0.9rem;
  height: 0.9rem;
  stroke: #666666;
}

.cardContainer:hover {
  filter: brightness(1.05);
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
}

.iconLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.iconLabel p {
  font-size: 0.5rem;
  font-weight: 600;
  color: #666666;
  text-transform: uppercase;
  margin-top: 0.1rem;
}

.iconLabel svg {
  width: 1.2rem;
  height: 1.2rem;
  stroke: #666666;
}

.footerCompact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trashArea {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 0 7px 7px 0;
  opacity: 0;
}

.trashArea:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.trashArea svg {
  height: 5rem;
  width: 5rem;
  stroke: #ffffff;
}