.container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.container > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.container label {
  font-size: 1.4rem;
  font-weight: 700;
}

.container select {
  font-size: 1.2rem;
  width: 9rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}