.title {
  font-size: 1.6rem;
  font-weight: 800;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden; /* impede scroll */
  background: transparent;
  box-shadow: none;
  line-height: 1.4;
  margin: 0;
}