.keywordTag {
  border-radius: 0.5rem;
  width: 7rem;
  height: 1.8rem;
  align-content: center;
}

.keywordTag p {
  text-align: center;
  color: #ffffff;

}


.hoverable:hover {
  filter: brightness(1.2);
  cursor: pointer;
}