.keywordTag {
  align-content: center;
  min-width: 3.4rem;
  height: 1.2rem;
  border-radius: 0.3rem;
}

.keywordTag p {
  color: #ffffff;
  font-size: 0.7rem;
  text-align: center;
  margin: 0 0.3rem 0;
}

.hoverable:hover {
  filter: brightness(1.2);
  cursor: pointer;
}