.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #ffffff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18rem;
  min-width: 10rem;
  background-color: #333333;
  padding: 1rem;
}

.sidebar button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: #eeeeee;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  align-content: center;
}

.sidebar svg {
  width: 1.2rem;
  stroke: #eeeeee;
}

.sidebar button:hover,
.sidebar button.active {
  background-color: #eeeeee;
  color: #333333;
}

.sidebar button:hover svg,
.sidebar button.active svg {
  stroke: #333333;
}

.content {
  margin: 0 auto;
  width: 45rem;
  padding: 0.5rem 5rem;
}

.viewTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  color: #999999;
}

.avatar {
  width: 8rem;
  border-radius: 15%;
}

hr {
  margin-bottom: 1rem;
}